.header {
    height: 137px;
    display: flex;
    align-items: center;
    padding: 50px 60px;
    border-bottom: 1px solid #dde2e7;
}

.header__title {
    text-align: center;
}

.header__button {
    display: flex;
    align-items: center;
}
