.container 
    .main__content 
        .main__blogs 
            each post in jsonData.postsOnMainPage
                +blogpost(post.title, post.subtitle, post.img, post.link)
                    p #{post.text}
            .main__info 
                .main__pagination 
                    a(href="#") 1
                    a(href="#") 2
                    a(href="#") 3
                a(href="#").main__info-link older posts
        aside.main__blocks 
            +widget("Recent posts") 
                +widget-post("./img/small-thumbs/01.jpg", "Austin DIY sriracha polaroid sartorial la croix.", "december 26, 2019 — 5 comments")
                +widget-post("./img/small-thumbs/02.jpg", "Vinyl hexagon tbh selvage chambray street art.", "december 12, 2019 — 0 comments")
                +widget-post("./img/small-thumbs/03.jpg", "Edison bulb raw denim 3 wolf moon shaman mustache taxidermy. Cliche disrupt slow-carb chicharrones.", "december 08, 2019 — 2 comments")
                +widget-post("./img/small-thumbs/04.jpg", "Gastropub ennui keytar, plaid meggings marfa edison bulb pour-over austin enamel pin.", "November 28, 2019 — 12 comments", "post4.html")
                +widget-post("./img/small-thumbs/05.jpg", "Minim ad austin tousled gluten-free.", "november 17, 2019 — 22 comments")
            +widget("Popular posts") 
                +widget-post("./img/small-thumbs/01.jpg", "Austin DIY sriracha polaroid sartorial la croix.", "december 26, 2019 — 5 comments")
                +widget-post("./img/small-thumbs/02.jpg", "Vinyl hexagon tbh selvage chambray street art.", "december 12, 2019 — 0 comments")
                +widget-post("./img/small-thumbs/03.jpg", "Edison bulb raw denim 3 wolf moon shaman mustache taxidermy. Cliche disrupt slow-carb chicharrones.", "december 08, 2019 — 2 comments")
                +widget-post("./img/small-thumbs/04.jpg", "Gastropub ennui keytar, plaid meggings marfa edison bulb pour-over austin enamel pin.", "November 28, 2019 — 12 comments", "post4.html")
                +widget-post("./img/small-thumbs/05.jpg", "Minim ad austin tousled gluten-free.", "november 17, 2019 — 22 comments")
            +widget("Instagram")
            .block__instagram-img 
                +instagram-img("insta-01.jpg")
                +instagram-img("insta-02.jpg")
                +instagram-img("insta-03.jpg")
                +instagram-img("insta-04.jpg")
                +instagram-img("insta-05.jpg")
                +instagram-img("insta-06.jpg")
                +instagram-img("insta-07.jpg")
                +instagram-img("insta-08.jpg")
                +instagram-img("insta-09.jpg")
                +instagram-img("insta-10.jpg")