.title-1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 38px;
    font-weight: 900;
    line-height: 1;
}

.title-2 {
    font-family: 'Playfair Display', serif;
    font-size: 33px;
    font-weight: 400;
}

.title-3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #b0b0b0;
}

.title-4 {
    font-size: 18px;
    font-weight: 700;
}

.title-5 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}