.widget-title {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #dde2e7;
    text-decoration: none;
    color: #000;
}

.widget-post {
    width: 270px;
    padding: 30px 10px 40px;
    text-align: center;
}

.widget-post:not(:last-child) {
    border-bottom: 1px solid #dde2e7;
}

.widget-post__img {
    margin-bottom: 30px;

    img {
        margin-left: auto;
        margin-right: auto;
        max-width: none;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.widget-post__title {
    margin-bottom: 30px;
    color: #000;
    transition: 0.2s ease-in;

    &:hover {
        color: rgb(0, 0, 255);
        text-decoration: underline;
    }
}

.widget-post__subtitle {
    span {
        font-size: 12px;
        text-transform: uppercase;
        color: #b0b0b0;
    }
}
   
