include ./../mixins/blogpost.pug
include ./../mixins/widget.pug
include ./../mixins/widget-post.pug
include ./../mixins/instagram-img.pug
include ./../mixins/button-post.pug
include ./../mixins/footer-list.pug