include ./../mixins/social-icons.pug
include ./../mixins/blogpost.pug
include ./../mixins/widget.pug
include ./../mixins/widget-post.pug
include ./../mixins/instagram-img.pug
include ./../mixins/button-post.pug
include ./../mixins/footer-list.pug
include ./../mixins/post-page.pug
include ./../mixins/comment-form.pug
include ./../mixins/comment-card.pug
